#inputStyling{
    border-radius: 0px;
    

background: #F4F9FF;
border: 1px solid #4AD9FE;
box-sizing: border-box;


}
.buttonsStyling{
    margin-left: 45%;
    margin-top: 3rem;
}
#nextbtn{
    border-radius: 0px;
    width: 7rem;
}
#laterbtn{
    border-bottom: 2px solid #5031A9;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    margin-right: 2rem;
}
/* LOGIN  && SIGNUP STYLING */
.wrapper{
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    margin-top: 2rem;
}
.form_containing_login{
    padding-right: 2rem;
    
}
.myicons{
    display: flex;
    flex-direction: column;
    color:orange;
}
#facebookIcon{
    margin-bottom: 10px;
}
#linkedIcon{
    margin-bottom: 10px;
}
#twitterIcon{
    margin-bottom: 10px;
}
#paperplaneIcon{
    margin-bottom: 10px;
}
.ButtonsOnLoginForm{
    display: flex;
    flex-direction: column;
    width: 15rem;
    margin-left: 5em;
}
.ButtonsOnSugnupForm{
    display: flex;
    flex-direction: column;
    width: 15rem;
    margin-left: 5em;
    padding-top: 1rem;
}
#loginButton{
    background: #F14B59;
    border-radius: 0px;
    margin-bottom: 3px;
    color: white;
}
#orStyling{
    padding-left: 5rem;
    padding-top: 1rem;
}
#dontHaveAccount{
    border-radius: 0px;
    border-right: 0px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 4px solid #146D56;
}
#inputStyling{
    border-radius: 0px;
    border-style: hidden;
    background: #F4F9FF;
}

#eyeONright{
    position: absolute;
    right: 1rem;
    padding-top: 10px;
}
#eyeONrightLogin{
    position: absolute;
    right: 3rem;
    padding-top: 10px;
}
.textStyling{
    margin-left: 5rem;
    margin-right: 2rem;
    margin-top: 2rem;
    font-size: small;
}

/* FOOTER STYLING */
#footerDiv{
    background: '#7E50D3';
    margin-top: '2rem';
    height: '15rem'
}

.footer-paragraph{

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    /* line-height: 63px; */
}


/* add Url styling */
.urlWrapper{
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    padding-top: 3rem;
    padding-bottom: -100px;
}
.iconsInAddUrl{
    display: flex;
    flex-direction: column;
    color: #FAAE0A;
    margin-left: 7rem;
}
#gitInput{
   background: #F4F9FF
}
.urlButoonStyling{
    background: #F14B59;
    border-radius: 0px;
    margin-top: 2rem;
    color: white;
}
#pencilStyling{
    padding-top: 9rem;
    padding-left: 6,5rem;
    padding-right: 2rem;
    color: blue;
    font-size: 3rem;
}

/* QUESTION LIST STYLING */
