

.wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 2rem;
}
.questionIcons{
    display: flex;
    flex-direction: column;
    color: #FAAE0A;
}
#facebookIcon{
    margin-bottom: 10px;
}
#linkedIcon{
    margin-bottom: 10px;
}
#twitterIcon{
    margin-bottom: 10px;
}
#paperplaneIcon{
    margin-bottom: 10px;
}

/* YVETTE */
.icons{
    color:#FAAE0A;
}
.title{
    /* position: relative; */
    /* right:1%; */
   font-size:40px;
    width: 870px;
    font-weight: bold;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.logout{
    position: relative;
    font-weight: bold;
    left:80px;
}
#texting{
    position: relative;
    top:4rem;
    right:4rem;
    background: #F4F9FF;
}
 .sticky {
    position: absolute;
    font-size:60px;
    transform: rotate(180deg);
    top:20%; 
    left:30px;   
} 
.pencil{
    position: relative;
    font-size:40px;
    left:68px;
    color: #D13364;
    top:10%;
    
}

.key_values{
    position: relative;
    top:1rem;
    right:3rem;
}
.question{
    position: relative;
    left:28%;
    top:-2rem;
   
}

.ba{
    position: relative;
    left:47%;
    top:35px;
    width: 90px;
    color: rgba(30, 69, 174, 0.5);
}
.bar{
    position: relative;
    left:-28%;
    top:45px;
    color: rgba(30, 69, 174, 0.5);
}
.sinare{
    background:green;
    color: white;
}

.sign{
 position: relative;
 background-color:  #49BFD4;
 border-radius:50%;
 width: 120px;
 height: 120px;
 color: white;
}

  .footer{
    position:fixed;
    color: white;
    width: 100%;
    bottom: 0px;
    height:50%;
    padding: 3%;
  
}  

.save{
    position: relative;
    top:1rem;
    font-weight:bold;
    font-size:80%;
    font-style: normal; 
    width:10px;   
    
}

.line{
      
    background: #5031A9;
    padding-top:1.3%;
    width:73%;
    
}
.set {
    position:relative;
    width:40%;
    left:50%;
    top:150px;
}
.button{
    position: relative;
    
}
.btn-danger{
    border-radius:0px;
    width:150px;
    font-style: normal;
    font-weight: bold;
}
#submitButton{
    border-radius: 0px;
    background: red;
    margin-top: 1rem;
    color: white;
}

.middle{
    position: relative;
    top:62px; 
}

.table{
    position: relative;
    top:100px;
}

.tops{
    position: relative;
    top:26px;
}